@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/bg_img.jpg') no-repeat;
    background-color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand .logo_image {
    position: relative;
    width: 40px;
    height: 40px;
}

.brand .logo {
    font-size: 1.1em;
    color: whitesmoke;
    opacity: 1;

}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation .nav-icons {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 40px;
    font-size: 200px;
}

.navigation .nav-icons ion-icon {
    width: 28px;
    height: 28px;
    color: white;
    cursor: pointer;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btnLogin-popup:hover {
    background: white;
    color: #c0c0c0;
}   

.btnLogin-popup {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(225 , 155 , 255, .5);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
}

@keyframes fadeInDown {
from {
    opacity: 0;
    transform: translateY(20px);
}    
    
to {
    opacity: 1;
    transform: rotateY(0);
    }
}

.wrapper-login {
    animation: fadeInDown 0.8s ease-out;
}

.wrapper-login {
    position: relative;
    background: transparent;
    width: 400px;
    height: 490px;
    border: 2px solid rgba(225 , 155 , 255, .5);   
    border-radius: 15px;
    box-shadow: 0 0 30px rgba( 0 , 0 , 0 , .5);
}

.wrapper-Forgot {
    position: relative;
    background: black;
    width: 400px;
    height: auto;
    border: 2px solid rgba(225 , 155 , 255, .5);   
    border-radius: 15px;
    box-shadow: 0 0 30px rgba( 0 , 0 , 0 , .5);
    border-width: 3px;
}

.wrapper-register {
    position: relative;
    background: transparent;
    width: 400px;
    height: 490px;
    border: 2px solid rgba(225 , 155 , 255, .5);   
    border-radius: 15px;
    box-shadow: 0 0 30px rgba( 0 , 0 , 0 , .5);
}

.card-inner.flipped{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.Card-Container {
    perspective: 1000px;
    width: 400px;
    height: 490px;
    isolation: isolate;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    -webkit-transform-style: preserve-3d;
    will-change: transform;
}

.card-front,
.card-back {
    position: absolute;
    background:black;
    width: 400px;
    height: 490px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
}

.wrapper-login .form-box_login{
    padding: 20px 50px;
    width: 100%; 
    padding-bottom: 20px;
}

.wrapper-register .form-box_login{
    padding: 20px 40px;
    width: 100%; 
}

.wrapper-Forgot .form-box_forgot{
    padding: 40px 50px;
    width: 100%; 
}

.form-box_login h2 {
    text-align: center;
    font-size: 2em;
    color: ghostwhite;
}

.form-box_signin h2 {
    text-align: center;
    font-size: 2em;
    color: ghostwhite;
}

.form-box_forgot h2 {
    text-align: center;
    font-size: 2em;
    color: ghostwhite;
    margin-bottom: 50px;
}

.input-box1{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    box-sizing: border-box;
    border-bottom: 2px solid whitesmoke;
}

.input-box2{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    box-sizing: border-box;
    border-bottom: 2px solid whitesmoke;
}

.input-box-forgot {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid whitesmoke;
}

.input-box-forgot label{
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    color: ghostwhite;
    pointer-events: none;
    font-weight: 500;   
    font-size: .75em;
}

.input-box-forgot input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 1em;
    color: white;    
    padding: 0 35px 0 5px;
    font-weight: 600;
    margin:10px 0
}

.input-box-forgot .icon {
    color: white;
    position: absolute;
    right: 2px;
    line-height: 57px;
    font-size: 1.2em;
    cursor: pointer;
}

.input-box1 label{
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    color: ghostwhite;
    pointer-events: none;
    font-weight: 500;   
    font-size: .75em;
}

.input-box2 label{
    position: absolute;
    top: -5px;
    left: 5px;
    transform: translateY(-50%);
    color: ghostwhite;
    pointer-events: none;
    font-weight: 500;   
    font-size: .75em;
}

.input-box1 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;    
    padding: 0 35px 0 5px;
    font-weight: 600;
}

.input-box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;    
    padding: 0 35px 0 5px;
    font-weight: 600;
}

.input-box1 .icon {
    color: white;
    position: absolute;
    right: 2px;
    line-height: 57px;
    font-size: 1.2em;
}

.input-box2 .icon {
    color: white;
    position: absolute;
    right: 2px;
    line-height: 57px;
    font-size: 1.2em;
    cursor: pointer;
}

.social-icons{
    margin-top: 16px;    
    gap: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.social-icons svg{
    color: azure;
    fill: azure;
    cursor: pointer;
}


.remember-forgot {
    color: white;
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.remember-forgot .checkbox {
    display: flex;
    align-items: center;

}

.remember-forgot .checkbox input {
    margin-right: 6px;
    cursor: pointer;
}

.continue {
    color: white;
    font-size: .9em;
    font-weight: 500;
    margin: 20px;
    text-align: center;
}

.cw_text {
    margin: 15px;
}

.btn {
    width: 100%;
    height: 45px;
    background:  rgba(179, 0, 255, 0.5);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba( 0 , 0 , 0 , .5);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    color: #000;
}

.login-register {
    color: white;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
}

.login-register p button {
    font-size: .9em;
    font-weight: 600;
}

.login-register button {
    color:  rgba(179, 0, 255, 0.5);
    background: transparent;
    text-decoration: none;
    margin-left: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login-register button:hover {
    text-decoration: underline;
}

.sign-in_register {
     color: white;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
    margin-top: -20px;
}


.sign-in_register p button{
    color:  rgba(179, 0, 255, 0.5);
    background: transparent;
    text-decoration: none;
    margin-left: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Remember-login {
     color: white;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
    margin-bottom: -30px;
}